:focus,
:active,
a:focus,
a:active {
	outline: none;
}

a,
button {
	cursor: pointer;
}

@media (hover: hover) {

	a:hover,
	button:hover {
		opacity: .7;
	}

	a:active,
	button:active {
		opacity: .3;
	}

	.header__social-link:hover {
		transform: scale(1.2);
		transition: .4s ease;
	}

	.page-footer__link:hover {
		opacity: 1;
		color: #52bedc;
	}
}

@keyframes headerBackground {
	0% {
		background-image: url(../image/header/top-img1.jpg);
	}

	25% {
		background-image: url(../image/header/top-img2.jpg);
	}

	50% {
		background-image: url(../image/header/top-img3.jpg);
	}
}