:focus, :active,
a:focus, a:active {
    outline: none;
}

a, button {
    cursor: pointer;
}

@media (hover: hover) {}

@keyframes headerBackground {
    0% {
        background: url(../image/header/top-img1.jpg);
    }
    25% {
        background: url(../image/header/top-img2.jpg);
    }
    50% {
        background: url(../image/header/top-img3.jpg);
    }
}