.header {
  background: url(../image/header/top-img1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: headerBackground 30s infinite;
}

.header__wrp {
  display: flex;
  flex-direction: column;
}

.header__top {
  padding: 20px 0 0;
  display: flex;
  justify-content: space-between;
  margin: 0 0 360px 0;
}

.header__social-list {
  max-width: 379px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner {
  padding: 70px;
  max-width: 624px;
  width: 100%;
  min-height: 369px;
  clip-path: polygon(
    10% 0,
    100% 0,
    100% 20%,
    100% 90%,
    90% 100%,
    0 100%,
    0% 80%,
    0 10%
  );
  background-color: #f8f200;
  align-self: flex-end;
}

.banner__title {
    display: block;
    max-width: 484px;
    width: 100%;
    font-family: "Archangelsk";
    font-size: 62px;
    line-height: 63px;
    margin: 0 0 25px 0;
}
.banner__btn {
    display: inline-block;
    padding: 19px 50px;
    background: #000;
    color: #f8f200;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
}
