.offer {
	display: flex;
	justify-content: center;
	align-items: stretch;
	width: 100%;
	margin: 0 auto;
}

.offer__image {
	background-color: #000;
	width: 100%;
	min-height: 717px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.offer__info {
	padding: 70px 15px 70px 32px;
	width: 100%;
	min-height: 577px;
	background: #000;
	box-sizing: content-box;
}

.offer__title {
	max-width: 624px;
	width: 100%;
	color: #fff;
	margin: 0 0 25px 0;
}

.offer__info .text-color-blue {
	display: block;
	font-size: 24px;
}

.offer__info span:first-of-type {
	margin: 0 0 15px 0;
}

.offer__info span:last-of-type {
	margin: 0 0 25px 0;
}

.offer__list {
	max-width: 466px;
	width: 100%;
	min-height: 126px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 15px;
	margin: 0 0 70px 0;
}

.offer__item {
	display: flex;
	align-items: center;
	position: relative;
	color: #fff;
	line-height: 21px;
	width: 100%;
	min-height: 32px;
	padding: 0 0 0 42px;
}

.offer__item::before {
	position: absolute;
	content: '';
	background-image: url(../image/main/offer-item-img-1.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 26px;
	width: 32px;
	height: 32px;
	top: 0;
	left: 0px;
}

.offer__item:nth-child(2)::before {
	background-image: url(../image/main/offer-item-img-2.svg);
}

.offer__item:nth-child(3)::before {
	background-image: url(../image/main/offer-item-img-3.svg);
}

.offer__logos-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	gap: 47px;
	max-width: 316px;
	width: 100%;
	min-height: 132px;
}

.offer__logos-item {
	height: 35px;
}

.offer__logos-item:nth-child(3) {
	height: 50px;
}

.offer__logos-item:nth-child(4) {
	max-width: 178px;
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

.offer__logos-link,
.offer__logos-img {
	display: block;
}

@media(max-width:1920px) {
	.offer__image {
		max-width: 944px;
	}

	.offer__info {
		max-width: 976px;
	}
}

@media(max-width:1025px) {
	.offer__image {
		max-width: 332px;
	}

	.offer__image {
		flex-shrink: 2;
	}
}

@media(max-width:800px) {
	.offer {
		flex-direction: column;
	}

	.offer__image {
		max-width: 770px;
	}

	.offer__info {
		box-sizing: border-box;
	}

}

@media(max-width:540px) {
	.offer__image {
		min-height: 198px;
	}

	.offer__info {
		padding: 40px 12px 70px;
	}

	.offer__info .text-color-blue {
		font-size: 20px;
		line-height: 23px;
	}

	.offer__info span:first-of-type {
		margin: 0 0 20px;
	}

	.offer__info span:last-of-type {
		margin: 0 0 30px;
	}

	.offer__list {
		margin: 0 0 36px;
	}

	.offer__item {
		min-height: 24px;
		font-size: 16px;
		line-height: 19px;
	}

	.offer__item::before {
		width: 24px;
		height: 24px;
		background-size: 20px;
	}

	.offer__item:nth-child(2)::before {
		background-size: 18px;
	}

	.offer__logos-list {
		min-height: 126px;
		gap: 41px;
	}
}