.promo {
	padding: 70px 0 140px 0;
}

.promo__title {
	font-family: "Archangelsk", sans-serif;
	font-weight: 400;
	font-size: 62px;
	line-height: 63px;
	color: #000;
	margin: 0 0 25px 0;
}

.promo__txt {
	max-width: 952px;
	width: 100%;
	font-weight: 400;
	line-height: 34px;
	color: #777;
	margin: 0 0 58px 0;
}

.text-color-blue {
	font-weight: 700;
	color: #52BEDC;
}

.promo__images-wrp {
	display: flex;
	flex-wrap: wrap;
	max-width: 1280px;
	width: 100%;
	justify-content: space-between;
	gap: 32px;
}

.promo__images-wrp-small {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 460px;
	width: 100%;
	gap: 32px;
}

.promo__images-wrp-big {
	max-width: 788px;
	width: 100%;
}

.promo__image {
	max-width: 460px;
	height: auto;
	clip-path: polygon(11% 0,
			100% 0,
			100% 20%,
			100% 75%,
			89% 100%,
			0 100%,
			0% 80%,
			0 24%);
}

.promo__image_big {
	max-width: 788px;
	height: auto;
	clip-path: polygon(6% 0,
			100% 0,
			100% 20%,
			100% 88%,
			93% 100%,
			0 100%,
			0% 80%,
			0 12%);
}