@import url(nulling-styles.css);
@import url(overall.css);
@import url(header.css);
@import url(animation-hover-active.css);
@import url(promo.css);
@import url(promotion.css);
@import url(description.css);
@import url(offer.css);
@import url(footer.css);

@font-face {
	font-family: "Archangelsk";
	src: local("Archangelsk"),
		url("../font/Archangelsk/Archangelsk.eot") format("embedded-opentype"),
		url("../font/Archangelsk/Archangelsk.woff") format("woff"),
		url("../font/Archangelsk/Archangelsk.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}