@import url(nulling-styles.css);
@import url(header.css);
@import url(footer.css);
@import url(animation-hover-active.css);
@import url(promo.css);
@import url(promotion.css);
@import url(description.css);

@font-face {
  font-family: "Archangelsk";
  src: local("Archangelsk"),
    url("../font/Archangelsk/Archangelsk.eot") format("embedded-opentype"),
    url("../font/Archangelsk/Archangelsk.woff") format("woff"),
    url("../font/Archangelsk/Archangelsk.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 18px;
  font-style: normal;
}

.center {
  padding: 0 20px;
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.text-color-blue {
  font-weight: 700;
  color: #52bedc;
}

.logo {
  width: 296px;
  height: 74px;
}

.logo__link,
.logo__link > img {
  display: block;
  height: 100%;
  width: 100%;
}
