*,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: #2c2d35;
	font-style: normal;
	background: #f4f6f5;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.text-color-green {
	color: #598d66;
}

.center {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
}

.header {
	margin: 0 0 70px 0;
}

.header__top-wrp {
	background: #e1ede6;
	padding-top: 33px;
	padding-bottom: 32px;
}

.header__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	width: 143px;
	height: 35px;
}

.header__logo-link {
	display: block;
	width: 143px;
	height: 35px;
}

.page-logo-svg {
	fill: #598d66;
}

.header__nav-cart-wrp {
	max-width: 472px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__nav,
.header__nav-list {
	max-width: 388px;
	width: 100%;
}

.header__nav-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__nav-link {
	font-size: 20px;
	color: #2c2d35;
}

.header__cart {
	width: 24px;
	height: 24px;
}

.header__cart-link {
	display: block;
	width: 24px;
	height: 24px;
}

.cart__path-color {
	stroke: #2c2d35;
}

.header__promo {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__promo-img {
	max-width: 540px;
	width: 100%;
	min-height: 621px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.header__promo-info {
	max-width: 540px;
	width: 100%;
	min-height: 331px;
}

.header__promo-title {
	font-size: 60px;
	font-weight: 500;
	line-height: 66px;
	margin: 0 0 20px 0;
}

.header__promo-title span {
	text-transform: capitalize;
}

.header__promo-description {
	max-width: 540px;
	width: 100%;
	min-height: 50px;
	line-height: 27px;
	color: #86928b;
	margin: 0 0 60px 0;
}

.header__promo-btn {
	border: 1px solid #598d66;
	max-width: 225px;
	width: 100%;
	min-height: 65px;
	background: transparent;
	font-size: 20px;
}

.products {
	margin: 0 auto 70px;
}

.products__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 30px 0;
}

.products__header-title {
	font-size: 40px;
	font-weight: 500;
	line-height: 44px;
	color: #2c2d35;
}

.products__header-wrp-btn {
	max-width: 428px;
	width: 100%;
	min-height: 43px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.products__header-btn {
	padding: 10px 20px;
	border-radius: 20px;
	background: #d4e8d9;
	color: #2c2d35;
	font-size: 20px;
	font-weight: 500;
	line-height: 23px;
	border: none;
}

.products__list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(0, 350px));
	justify-content: center;
	gap: 30px;
}

.products__item {
	max-width: 350px;
	width: 100%;
	min-height: 730px;
	background: #e1ede6;
	padding: 20px 20px 30px;
}

.products__item-link {
	display: block;
	margin: 0 0 20px;
}

.products__item-img {
	display: block;
	max-width: 310px;
	width: 100%;
}

.products__item-description-wrp {
	max-width: 310px;
	min-height: 238px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.products__item-description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	min-height: 95px;
	max-width: 310px;
	width: 100%;
}

.products__item-description-author,
.products__item-description-txt {
	line-height: 21px;
	font-size: 18px;
	color: #86928b;
	margin: 0 0 1px;
}

.products__item-description-title {
	line-height: 35px;
	font-weight: 500;
	font-size: 30px;
	color: #2c2d35;
}

.products__item-description-txt {
	color: #2c2d35;
}

.products__item-btn-wrp {
	max-width: 310px;
	width: 100%;
	min-height: 113px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.products__item-description-price {
	line-height: 28px;
	font-weight: 500;
	font-size: 24px;
}

.products__item-btn {
	padding: 21px 106.5px;
	border: 1px solid #598d66;
	font-family: "Raleway", sans-serif;
	line-height: 23px;
	font-weight: 500;
	font-size: 20px;
	background: transparent;
}

.promo {
	padding: 70px 0;
	margin: 0 0 70px 0;
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: top, center;
	background-size: cover;
}

.promo::after {
	position: absolute;
	content: "";
	z-index: 3;
	top: -57px;
	left: -238px;
	width: 1004px;
	height: 687px;
	background: rgba(13, 43, 67, 0.8);
	mix-blend-mode: multiply;
	filter: blur(157.5px);
}

.promo::before {
	position: absolute;
	content: "";
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(../img/collection/collection-background-rectangle.png);
	opacity: 0.7;
	mix-blend-mode: soft-light;
}

.promo__discription-wrp {
	position: relative;
	z-index: 5;
}

.promo__heading {
	display: flex;
	gap: 20px;
	max-width: 521px;
	width: 100%;
	min-height: 80px;
	margin: 0 0 20px;
}

.promo__star {
	background-image: url(../img/collection/Star.svg);
	width: 80px;
	height: 80px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.promo__heading-title {
	color: #f4f6f5;
	font-weight: 500;
	font-size: 40px;
	line-height: 40px;
	max-width: 421px;
	width: 100%;
}

.promo__info {
	max-width: 580px;
	width: 100%;
	min-height: 209px;
	margin: 0 0 60px 0;
}

.promo__info-txt:first-child {
	margin: 0 0 20px;
}

.promo__info-txt {
	color: #fff;
	font-size: 18px;
	line-height: 27px;
}

.promo__btn {
	border: none;
	outline: none;
	background: #eedb6d;
	display: inline-flex;
	height: 65px;
	padding: 20px 60px;
	justify-content: center;
	align-items: center;
	gap: 6px;
	flex-shrink: 0;
	color: #2c2d35;
	font-size: 20px;
}

.art-team {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	margin-bottom: 70px;
}

.art-team__image {
	width: 445px;
	height: 440px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.art-team__info-wrp {
	padding: 124px 0 44px 0;
	max-width: 635px;
	width: 100%;
	min-height: 272px;
}

.art-team__title {
	font-weight: 500;
	font-size: 40px;
	line-height: 44px;
	margin: 0 0 20px 0;
}

.art-team__txt {
	margin: 0 0 20px 0;
	line-height: 27px;
	max-width: 635px;
	width: 100%;
}

.art-team__photo-wrp {
	display: flex;
	max-width: 300px;
	width: 100%;
	justify-content: space-between;
}

.art-team__photo {
	border-radius: 100%;
	width: 80px;
	height: 80px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.footer {
	background: #e1ede6;
	padding: 23px 0 23px 0;
}

.footer__wrp {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer__logo-wrp {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer__phone-wrp {
	max-width: 170px;
	width: 100%;
	min-height: 52px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.footer__phone-link {
	color: #2c2d35;
	font-size: 20px;
	line-height: 23px;
}

.footer__phone-name {
	font-size: 18px;
	line-height: 21px;
	color: #86928b;
}

.footer-wrapper {
	max-width: 825px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.footer__menu-link-wrp {
	max-width: 445px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.footer__menu-list-reproduction,
.footer__menu-list-new,
.footer__menu-list-about {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.footer__menu-item {
	font-size: 20px;
}

.footer__menu-link {
	font-size: 18px;
	line-height: 27px;
	color: #86928b;
}

.footer__social-wrp {
	max-width: 132px;
	width: 100%;
}

.footer__social-wrp span {
	font-size: 12px;
	display: block;
	line-height: 14px;
	color: #86928b;
}

.footer__social-wrp span:nth-child(2) {
	margin: 0 0 6px 0;
}

.social-icon-list {
	max-width: 132px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 0 10px 0;
	min-height: 24px;
	align-items: center;
}

.social-icon-item__link svg {
	display: block;
}

@media (max-width: 1042px) {
	.footer__wrp {
		gap: 30px;
	}

	.footer__logo-wrp {
		width: 100%;
		flex-direction: row;
	}

	.footer-wrapper {
		max-width: 1050px;
	}
}

@media (max-width: 800px) {
	.center {
		max-width: 768px;
		padding: 0 39px;
	}

	.header__nav-cart-wrp {
		max-width: 446px;
	}

	.header__nav-list {
		max-width: 362px;
	}

	.header__nav-link {
		font-size: 18px;
	}

	.header__promo-img {
		max-width: 330px;
		width: 100%;
		min-height: 380px;
	}

	.header__promo-info {
		max-width: 330px;
		min-height: 308px;
	}

	.header__promo-title {
		font-size: 40px;
		line-height: 40px;
	}

	.header__promo-description {
		max-width: 330px;
		width: 100%;
		min-height: 108px;
		margin: 0 0 40px 0;
	}

	.header__promo-btn {
		max-width: 210px;
		min-height: 60px;
	}

	.products__header-title {
		font-size: 30px;
		line-height: 33px;
	}

	.products__list {
		grid-template-columns: repeat(auto-fill, minmax(0, 330px));
	}

	.products__item-btn {
		padding: 21px 96.5px;
	}

	.promo__heading {
		max-width: 450px;
		width: 100%;
		min-height: 60px;
		margin: 0px 0 30px;
	}

	.promo__star {
		width: 60px;
		height: 60px;
	}

	.promo__heading-title {
		font-size: 30px;
		max-width: 370px;
		line-height: 30px;
	}

	.promo__info {
		max-width: 690px;
		width: 100%;
		min-height: 192px;
		margin: 0 0 16px 0;
	}

	.promo__info-txt {
		font-size: 18px;
	}

	.promo__btn {
		padding: 18.5px 36.5px;
	}

	.art-team__image {
		max-width: 510px;
		width: 100%;
		min-height: 504px;
		margin-bottom: 8px;
	}

	.art-team__info-wrp {
		padding: 0 0 44px 0;
	}

	.art-team__title {
		font-size: 30px;
		line-height: 33px;
		margin: 0 0 30px 0;
	}

	.art-team__txt {
		margin: 0 0 30px 0;
	}

	.footer-wrapper {
		max-width: 652px;
	}

	.art-team {
		margin-bottom: 27px;
	}
}

@media (max-width: 632px) {
	.center {
		max-width: 576px;
		padding: 0 33px;
	}

	.header {
		margin: 0 0 50px 0;
	}

	.header__top-wrp {
		padding-top: 16px;
		padding-bottom: 16px;
		margin: 0 0 50px;
	}

	.header__top {
		flex-direction: column;
	}

	.header__logo {
		margin: 0 0 15px;
	}

	.header__nav-cart-wrp {
		max-width: 510px;
		border-top: 1px solid #c3d1c6;
		padding: 17px 0 0;
	}

	.header__promo {
		gap: 30px;
	}

	.header__promo-img {
		max-width: 195px;
		min-height: 239px;
	}

	.header__promo-info {
		max-width: 285px;
		min-height: 72px;
	}

	.header__promo-title {
		font-size: 36px;
		line-height: 36px;
		margin: 0 0 10px 0;
	}

	.header__promo-description {
		font-size: 16px;
		line-height: 24px;
		margin: 0 0 11px 0;
		min-height: 96px;
	}

	.header__promo-btn {
		max-width: 178px;
		min-height: 50px;
		font-size: 18px;
	}
}