*,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: "Rubik", sans-serif;
  transition: 0.5s ease;
}

.btn {
  max-width: 273px;
  width: 100%;
  min-height: 64px;
  background: linear-gradient(81.55deg, #ffc83e 33.93%, #ff7347 73.78%);
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  transition: 0.5s ease;
}

a:hover,
.btn:hover,
.btn-unsubscribe:hover {
  text-shadow: 3px 3px 2px #45511f;
}

.btn:hover,
.btn2:hover,
.header-button:hover {
  box-shadow: 1px 1px 10px #45511f;
}

a:active,
.btn:active,
.btn2:active,
.btn-unsubscribe:active {
  opacity: 0.5;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
}

.offers__title,
.money-request__title,
.card-request__title,
.reviews__title,
.clients__title,
.about-service__title,
.faq__title,
.recieve-money__title {
  font-weight: 600;
  font-size: 38px;
  line-height: 45px;
  color: #45515f;
  text-align: center;
  margin: 0 0 36px 0;
}

/* -----------top-wrp------------------- */

.top-wrp {
  background-color: #ffb548;
  background-image: url(../img/top/background-top.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.center {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

/* ====top==== */
/* ====header==== */
.header {
  padding-top: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 64px 0;
}

.header-logo__link {
  font-weight: 400;
  font-size: 33px;
  line-height: 26px;
  color: #f6f9fc;
}

.header-logo__link span {
  font-weight: 600;
}

.header-nav {
  max-width: 471px;
  width: 100%;
}

.header-nav__list {
  display: flex;
  justify-content: space-between;
}

.header-nav__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

.header-button {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 18px 25px 17px 33px;
  background-color: #ff7b00;
  border-radius: 8px;
}

/* ====ENDheader==== */
/* ====promo==== */
.promo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 644px;
}

.promo-info {
  z-index: 1;
  max-width: 477px;
  width: 100%;
  padding-top: 72px;
}

.promo-info__link {
  display: inline-block;
  border-radius: 12px;
  padding: 15px 23px 15px 75px;
  background-color: rgba(255, 255, 255, 0.95);
  margin: 0 0 20px 0;
}

.promo-info__link:hover {
  text-shadow: 0 4px 12px orange;
}

.promo-info__link-txt {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  color: #3c4260;
  position: relative;
}

.promo-info__link-txt::before {
  content: "";
  background-image: url("../img/top/fire-1.svg");
  width: 56px;
  height: 56px;
  position: absolute;
  left: -67px;
  top: -25px;
  animation-name: a;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.promo-info__title {
  margin: 0 0 15px;
  max-width: 477px;
  width: 100%;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  text-transform: uppercase;
}

.promo-info__txt {
  max-width: 454px;
  width: 100%;
  font-weight: 400;
  font-size: 27px;
  line-height: 36px;
  margin: 0 0 110px 0;
}

.promo-info__text {
  max-width: 300px;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
}

.promo-image {
  max-width: 458px;
  width: 100%;
  min-height: 697px;
  background-image: url(../img/top/woman-promo.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  bottom: -68px;
  left: -381px;
  z-index: 1;
  pointer-events: none;
}

.promo-form {
  max-width: 428px;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(6px);
  border-radius: 15px;
  position: relative;
  padding: 29px 19px 36px 28px;
  margin: 0 0 68px 0;
}

.promo-form-calc {
  max-width: 382px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 63px 0;
  align-items: center;
}

.promo-form__txt {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #45515f;
  align-self: flex-start;
  margin: 0 0 11px 0;
}

.promo-form__txt2 {
  margin: 0 0 27px 0;
}

.promo-form__info__list {
  display: grid;
  column-gap: 18px;
  row-gap: 21px;
  grid-template-columns: repeat(2, minmax(144px, 160px));
  justify-content: flex-end;
}

.promo-form__info__item p {
  font-size: 14px;
  line-height: 17px;
  color: #45515f;
  margin: 0 0 2px 0;
}

.promo-form__info__item span {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #f28925;
}

/* ====promoSliders==== */

.sum-credit,
.term-credit {
  width: 100%;
  margin: 0 0 10px 0;
  appearance: none;
  -webkit-appearance: none;
  height: 7px;
  background-color: #ccc;
  outline: none;
  cursor: pointer;

  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;

  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  /* opacity: 1; */
}

.sum-credit__wrapper {
  width: 381px;
  position: relative;
  z-index: 2;
}

.sum-credit__label,
.term-credit__label {
  position: relative;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #45515f;
}

.sum-credit::-webkit-slider-thumb,
.term-credit::-webkit-slider-thumb {
  appearance: none;
  width: 21px;
  height: 21px;
  background-image: url("../img/top/slider.svg");
  border-radius: 100%;
}

.sum-credit__progress,
.term-credit__progress {
  position: absolute;
  height: 7px;
  background: linear-gradient(81.55deg, #ffc83e 33.93%, #ff9f47 73.78%);
  top: 8px;
  z-index: 1;
  border-radius: 8px 1px 1px 8px;
}

.sum-credit__limit,
.term-credit__limit {
  display: flex;
  max-width: 381px;
  width: 100%;
  justify-content: space-between;
}

.sum-credit__limit {
  margin: 0 0 43px 0;
}

.term-credit__limit {
  margin: 0 0 25px 0;
}

.sum-credit__limit-txt,
.term-credit__limit-txt {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #c0c2c5;
}

/* ====ENDpromoSliders==== */

/* ====ENDpromo==== */

/* ====ENDtop==== */

/* ====main==== */
/* =======section-offers======= */

.offers {
  background-color: #f6f9fc;
  padding-top: 49px;
}

.offers-border {
  padding-bottom: 51px;
  border-bottom: 1px solid rgba(69, 81, 95, 0.05);
}

.offers__list {
  display: flex;
  gap: 28px;
  justify-content: center;
  align-items: center;
  margin: 0 0 33px 0;
  flex-wrap: wrap;
}

.offers__item {
  max-width: 408px;
  width: 100%;
  min-height: 172px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
  backdrop-filter: blur(6px);
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.offers__txt {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #45515f;
  margin: 0 0 14px 0;
}

.offers__txt-wrp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.offers__txt_color-yellow span {
  color: #ffc83e;
}

.offers__txt_color-orange span {
  color: #ff7b00;
}

.offers__txt_color-dark-orange span {
  color: #fa5914;
}

.offers__txt-description {
  font-size: 15px;
  line-height: 27px;
  color: #45515f;
  position: relative;
  margin: 0 0 0 22px;
}

.offers__txt-description span {
  font-weight: 500;
}

.calendar::before {
  content: "";
  width: 12px;
  height: 11px;
  background-image: url(../img/main/calendar-icon.svg);
  position: absolute;
  left: -22px;
  bottom: 8px;
}

.rub::before {
  content: "";
  width: 9px;
  height: 10px;
  background-image: url(../img/main/rub-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: -21px;
  bottom: 9px;
}

.offers__bottom-txt {
  font-size: 13px;
  line-height: 19px;
  color: #45515f;
  text-align: center;
}

.offers__discount-flag {
  position: absolute;
  width: 94px;
  height: 23px;
  box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
  backdrop-filter: blur(6px);
  transform: rotate(-45deg);
  top: 14px;
  left: -21px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase;
  text-align: center;
}

.yellow {
  background-color: #ffc83e;
}

.orange {
  background-color: #ff7b00;
}

.dark-orange {
  background-color: #fa5914;
}

/* ++++++++money-request++++++++++ */

.money-request {
  background-color: #f6f9fc;
  padding: 44px 0 45px;
}

.money-request__title {
  margin: 0 0 49px 0;
}

.money-request__list {
  display: flex;
  position: relative;
  margin: 0 0 44px 0;
}

.money-request__list::before {
  content: "";
  position: absolute;
  max-width: 13%;
  width: 100%;
  height: 7px;
  background: linear-gradient(81.55deg, #ffc83e 33.93%, #ff9f47 73.78%);
  border-radius: 8px;
  top: 126px;
}

.money-request__list::after {
  content: "";
  position: absolute;
  max-width: 87%;
  width: 100%;
  height: 7px;
  background-color: #fff;
  border-radius: 8px;
  top: 126px;
  left: 13%;
}

.money-request__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 320px;
  width: 100%;
}

.money-request__wrp-images {
  display: flex;
  margin: 0 0 34px 0;
  max-width: 68px;
  height: 77px;
  align-items: flex-end;
}

.money-request__wrp-images img {
  width: 100%;
}

.money-request__wrp-step-number {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d6d3d3;
  margin: 0 0 21px 0;
  z-index: 3;
  pointer-events: none;
}

.orange-light-white {
  color: #fff;
  background: #ffa147;
}

.money-request__form-images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.money-request__txt-description p {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #45515f;
}

.txt-step1 {
  max-width: 196px;
}

.txt-step2 {
  max-width: 153px;
}

.txt-step3 {
  max-width: 234px;
}

.txt-step4 {
  max-width: 248px;
}

.wrp-btn {
  display: flex;
  justify-content: center;
}

/* =======ENDsection-offers======= */

/* =====card-request==== */
.card-request {
  padding: 55px 0 46px;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(6px);
}

.card-request__list {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin: 0 0 31px 0;
}

.card-request__item {
  border-radius: 22px;
  width: 140px;
  height: 133px;
  transition: 0.5s;
}

.card-request__item:hover {
  box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.5);
}

.card-request__item-img-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 140px;
  height: 133px;
  background: #f6f9fc;
  backdrop-filter: blur(6px);
  border-radius: 22px;
}

.card-request__title {
  margin: 0 0 14px 0;
}

.card-request__txt {
  max-width: 252px;
  width: 100%;
  min-height: 19px;
  font-size: 13px;
  color: #45515f;
  text-align: center;
  margin: 0 auto 44px;
}

/* =====ENDcard-request==== */
/* ====reviews==== */
.reviews {
  background-color: #f6f9fc;
  padding: 65px 0 38px;
}

.reviews__title {
  margin: 0 0 43px 0;
}

.reviews__list {
  margin: 0 0 30px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 28px;
}

.reviews__item {
  padding: 51px 41px 47px;
  max-width: 408px;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
  backdrop-filter: blur(6px);
  border-radius: 22px;
}

.reviews__item-img {
  margin: 0 0 26px 0;
  height: 96px;
}

.reviews__item-title {
  margin: 0 0 19px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #45515f;
}

.client-geolocation-wrp {
  margin: 0 0 17px 0;
  display: flex;
  gap: 8px;
}

.item-txt {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #93a0ab;
}

.reviews__item-txt2 {
  margin: 0 0 27px 0;
  color: #536473;
}

.reviews__buttons-wrp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn2 {
  padding: 21px 31px;
  height: 62px;
  text-align: center;
  border: 1px solid #c9d2dd;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #45515f;
  background: transparent;
  transition: 0.5s ease;
}

.btn2:hover {
  text-shadow: 0 4px 12px orange;
}

.reviews__item-rating {
  height: 12px;
}

/* ====ENDreviews==== */
/* ====clients==== */
.clients {
  background-color: #ffb548;
  background: url(../img/clients/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 55px 0 59px;
}

.clients__title {
  color: #ffffff;
  margin: 0 0 37px 0;
}

.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 27px;
}

.clients__item:nth-child(3) {
  gap: 35px;
}

.clients__item {
  max-width: 408px;
  width: 100%;
  min-height: 121px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
  backdrop-filter: blur(6px);
  border-radius: 22px;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 26px 31px 25px;
}

.clients__item h4 {
  font-weight: 500;
  color: #45515f;
  margin: 0 0 6px 0;
  font-size: 16px;
  line-height: 19px;
}

.clients__svg-wrp {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients__svg-wrp svg {
  width: 100%;
}

.clients__info-wrp > p {
  color: #536473;
  margin: 0 0 8px 0;
}

.clients__info-wrp .client-geolocation-wrp {
  margin: 0;
}

/* ====ENDclients==== */
/* ===About-service===== */
.about-service {
  padding: 56px 0 72px;
}

.about-service__title {
  margin: 0 0 43px 0;
}

.about-service__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #45515f;
  margin: 0 0 31px 0;
  min-height: 56px;
  display: flex;
  align-items: center;
}

.about-service__item:first-child .about-service__subtitle {
  max-width: 399px;
  width: 100%;
  min-height: 56px;
}

.about-service-wrp {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.about-service__item {
  max-width: 625px;
  width: 100%;
  min-height: 612px;
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid #f8ebeb;
  box-shadow: 0px 4px 44px rgba(84, 104, 123, 0.05);
  backdrop-filter: blur(6px);
  border-radius: 22px;
  padding: 44px 45px;
}

.about-service__txt {
  color: #536473;
}

.about-service__txt:not(:last-child) {
  margin: 0 0 15px 0;
}

/* ===ENDAbout-service===== */

/* ====faq==== */
.faq {
  padding: 59px 0 69px;
  background: #f6f9fc;
}

.faq__title {
  margin: 0 0 37px 0;
}

.accordion-item {
  margin: 0 0 4px;
  border: 0;
  background: linear-gradient(268.87deg, #ffc83e -5.09%, #ff7347 51.96%);
  box-shadow: 0px 4px 44px 0px rgba(84, 104, 123, 0.05);
  backdrop-filter: blur(6px);
  border-radius: 12px;
}

.accordion-item:last-child {
  margin: 0;
}

.accordion-item:first-of-type,
.accordion-item:last-of-type {
  border-radius: 12px;
  border-radius: 12px;
}

.accordion-button {
  padding: 21px 43px 25px 33px;
  color: #45515f;
  font-size: 20px;
  font-weight: 600;
  border-radius: 11px;
  transition: 0.8s ease;
}

.accordion-button::after {
  margin: 4px 0 0 auto;
  width: 15px;
  height: 9px;
  background-image: url(../img/faq/Vector-close.svg);
  background-size: contain;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../img/faq/Vector-open.svg);
  transform: rotate(-360deg);
}

.accordion-item:first-of-type .accordion-button,
.accordion-item:last-of-type .accordion-button.collapsed {
  border-radius: 11px;
  border-radius: 11px;
}

.accordion-button:not(.collapsed) {
  padding: 21px 43px 17px 33px;
  color: #fff;
  background: linear-gradient(268.87deg, #ffc83e -5.09%, #ff7347 51.96%);
  outline: 0;
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-body {
  padding: 0 127px 28px 33px;
  color: #fff;
}

/* ====ENDfaq==== */

.recieve-money {
  background-color: #fefefe;
  padding: 61px 0 62px;
  position: relative;
}
/* .recieve-money .center {
   position: relative;
} */
.recieve-money__discription-wrp {
  max-width: 578px;
  width: 100%;
}
.recieve-money__image {
  background-image: url(../img/recieve-money/girl.png);
  background-repeat: no-repeat;
  background-position: bottom;
  bottom: 0px;
  right: 5px;
  position: absolute;
  width: 633px;
  height: 421px;
}
.recieve-money__title {
  text-align: left;
  margin: 0 0 26px 0;
}

.recieve-money__txt {
  font-weight: 400;
  color: #536473;
  font-size: 27px;
  line-height: 36px;
}

.recieve-money__txt2 {
  margin: 0 0 26px 0;
}

/* ======Creditors======ENDmain==== */
/* ====Footer==== */
.footer {
  background-color: #ffb548;
  background-image: url("../img/footer/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* ====footer-top==== */
.footer-top {
  padding: 50px 0 38px;
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-logo {
  margin: 0 99px 0 0;
}

.footer__logo-link {
  font-family: "Rubik", sans-serif;
  font-size: 33px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.footer__wrp-contacts {
  max-width: 414px;
  width: 100%;
  display: flex;
  align-items: baseline;
}

.footer__mail-link {
  position: relative;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  margin: 0 83px 0 0;
}

.footer__mail-link span::before {
  content: "";
  position: absolute;
  background-image: url("../img/footer/convert-icon.svg");
  top: 0;
  left: -32px;
  width: 21px;
  height: 15px;
}

.footer__tel-link {
  position: relative;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}

.footer__tel-link span::before {
  content: "";
  position: absolute;
  background-image: url("../img/footer/tel-icon.svg");
  top: 3px;
  left: -33px;
  width: 19px;
  height: 19px;
}

.footer__logo-link span {
  font-weight: 600;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  max-width: 471px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  margin: 0 135px 0 0;
}

.footer__item-link {
  font-size: 18px;
  font-weight: 500;
}

/* ====ENDfooter-top==== */
/* ====Creditors==== */

.creditors__title {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 30px 0 23px 0;
}

.creditors__list {
  margin: 0 0 23px 0;
}

.creditors__item {
  font-size: 13px;
  line-height: 15.41px;
}

/* ====EndCreditors==== */
/* ====footerMiddle==== */
.footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-card {
  display: flex;
  align-items: center;
  gap: 37px;
  width: 478px;
  padding: 20px 0 18px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer__card-txt {
  width: 118px;
  height: 42px;
  font-size: 18px;
  font-weight: 500;
}

.footer__card-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__card-link:hover {
  opacity: 0.7;
}

.footer__card-link:active {
  opacity: 0.3;
}

.footer__personal-wrp {
  max-width: 772px;
  min-height: 86px;
  width: 100%;
  border: 1px solid #fff;
  text-align: center;
  padding: 32px 0;
}

.footer__personal {
  font-size: 18px;
  line-height: 21px;
}

.footer__personal-link {
  font-size: 18px;
  font-weight: 300;
  text-decoration: underline;
  line-height: 21.33px;
}

.footer__personal-link:hover {
  text-decoration: none;
}

.footer__card-item {
  width: 89px;
}

.footer__card-item:first-child {
  margin-right: 6px;
  width: 74px;
}

.footer__card-item:nth-child(2) {
  margin-right: 22px;
  width: 76px;
}

/* ====EndfooterMiddle====  */
/* ====agreements==== */
.agreements {
  padding: 27px 0 39px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.agreements__title {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 21px;
  margin: 0 0 23px 0;
}

.agreements__txt {
  font-size: 13px;
  line-height: 15.41px;
}

.agreements__txt:not(:last-child) {
  margin: 0 0 11px 0;
}

/* ====ENDagreements==== */

/* ====footer-bottom==== */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0 41px;
}

.copyright {
  max-width: 576px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__img {
  background: url(../img/footer/18+.svg) no-repeat;
  width: 45px;
  height: 45px;
}

.footer__copyright-txt {
  line-height: 21px;
  font-size: 18px;
  font-weight: 400;
}

.footer__social-icons-wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 349px;
  height: 45px;
}

.btn-unsubscribe {
  padding: 14px 28px 12px 32px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid #fefefe;
  border-radius: 8px;
  box-sizing: border-box;
  background: transparent;
  color: #fefefe;
  transition: 0.5s;
}

.btn-unsubscribe:hover {
  border: 1px solid #3c4260;
}

.footer__list-social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 144px;
  width: 100%;
  height: 27px;
}

.footer__item-social-icon {
  position: relative;
}

.footer__item-social-icon:not(:last-child)::after {
  content: "";
  height: 27px;
  width: 1px;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  right: -24px;
  top: -4px;
}

.link-social-icon svg {
  width: 100%;
  fill: #ffffff;
  transition: 0.5s ease;
}

.link-social-icon:hover svg {
  scale: 1.2;
  fill: #3c4260;
}

/* ====ENDfooter-bottom==== */
/* ====ENDFooter==== */

/* ====tablet-page-version==== */
@media (max-width: 1024px) {
  .center {
    max-width: 768px;
  }

  /* ===top=== */
  .header {
    padding: 29px 0 0 0;
    margin: 0 0 39px 0;
  }

  .header-nav__link {
    font-size: 14px;
    line-height: 17px;
  }

  .header-nav {
    max-width: 332px;
  }

  .header-button span {
    display: none;
  }

  /* ===promo=== */
  .promo {
    flex-direction: column;
    align-items: flex-end;
  }

  .promo-info {
    max-width: 767px;
    width: 100%;
    text-align: center;
    padding-top: 0;
  }

  .promo-info__title {
    max-width: 767px;
    margin: 0 auto;
    font-size: 39px;
  }

  .promo-info__txt {
    max-width: 751px;
    margin: 0 auto 10px;
  }

  .promo-info__text {
    max-width: 600px;
    margin: 0 auto 37px;
  }

  .promo-form {
    margin-bottom: 21px;
  }

  .promo-image {
    background-image: url(../img/top/woman-promo-tablet.png);
    background-position: top;
    bottom: -91px;
    min-height: 730px;
    left: -355px;
  }

  /* ===ENDpromo=== */
  /* ===Endtop=== */
  /* ====main==== */
  /* ===offers=== */
  .offers {
    padding: 50px 0 0 0;
  }

  .offers-border {
    border-bottom: none;
    padding: 0 0 69px 0;
  }

  .offers__title {
    margin: 0 0 35px 0;
  }

  .offers__list {
    flex-direction: column;
    gap: 15px;
    margin: 0 0 35px 0;
  }

  /* ===Endoffers=== */
  /* ===money-request=== */
  .money-request {
    padding: 0 0 70px;
  }

  .money-request__title {
    margin: 0 0 33px 0;
  }

  .txt-step3 {
    max-width: 183px;
  }

  .money-request__list {
    margin: 0 0 42px 0;
  }

  /* ===End money-request=== */
  /* ===card-request=== */
  .card-request__txt {
    margin: 0 auto 43px;
  }

  .card-request__list {
    gap: 32px;
    margin: 0 0 43px;
  }

  .card-request__item,
  .card-request__item-img-wrap {
    width: 128px;
    height: 122px;
  }

  .image-yandex {
    width: 92px;
    height: 48px;
  }

  .image-qiwi {
    width: 90px;
    height: 48px;
  }

  .image-visa {
    width: 92px;
    height: 48px;
  }

  .image-master {
    width: 91px;
    height: 48px;
  }

  .image-cash {
    width: 51px;
    height: 37px;
  }

  .card-request__item-img-wrap > svg {
    width: 17px;
    height: 8px;
  }

  /* ===End card-request=== */
  /* ====reviws==== */
  .reviews {
    padding: 66px 0 54px;
  }

  .reviews__title {
    margin: 0 0 39px 0;
  }

  .reviews__list {
    margin: 0 0 39px 0;
    flex-wrap: nowrap;
    gap: 15px;
  }

  .reviews__item {
    width: 377px;
    height: 486px;
  }

  .reviews__item:last-child {
    display: none;
  }

  /* ====ENDreviews==== */
  /* ====clients==== */
  .clients__list {
    flex-wrap: nowrap;
    gap: 15px;
  }

  .clients__item {
    max-width: 377px;
  }

  .clients__item:last-child {
    display: none;
  }

  /* ====ENDclients==== */
  /* ====about-service==== */
  .about-service {
    padding: 57px 0 48px;
  }

  .about-service__title {
    margin: 0 0 42px 0;
  }

  .about-service-wrp {
    flex-wrap: wrap;
  }

  .about-service__item {
    max-width: 768px;
    min-height: 558px;
  }

  /* ====ENDabout-service==== */
  /* ===faq=== */
  .faq {
    padding: 57px 0 67px;
  }

  .accordion-body {
    padding: 0 79px 28px 33px;
  }

  .accordion-body span:last-child {
    display: none;
  }

  /* ===ENDfaq=== */
  /* ===recieve-money=== */

  .recieve-money {
    padding: 60px 0 454px;
    background-image: url(../img/recieve-money/girl.png);
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .recieve-money__discription-wrp {
    margin: 0 auto;
    text-align: center;
  }

  .recieve-money__image {
    display: none;
  }

  /* ===END recieve-money=== */
  /* ====ENDmain==== */
}

/* ====ENDtablet-page-version==== */

@keyframes a {
  0% {
    top: -25px;
    transform: scale(0.7);
  }

  25% {
    top: -25px;
    transform: scale(0.8);
  }

  50% {
    top: -25px;
    transform: scale(0.9) rotate(8deg);
  }

  75% {
    top: -25px;
    transform: scale(1);
  }

  to {
    top: -25px;
    transform: scale(0.8);
  }
}
